<!DOCTYPE HTML>

<head>
  <title>Westwind</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="westwind_stream.js"></script>
</head>

<body>
  <div class="poem"></div>
  <script type="text/javascript">
    new Westwind.Stream($(".poem"));
  </script>
</body>
